.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 50px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.current-week-table {
    text-align: center
}

.weekdays {
  color: grey;
}
.habit-dates {
  /*border-radius: 50%;*/

  margin-right: 10px;

  width: 36px;
  height: 36px;
  padding-top: 8px;

  background: #e6e6e6;
  /*border: 2px solid #666;*/
  color: #666;
  text-align: center;

  font: 1em Arial, sans-serif;

}

.selected-day {
  background: rgb(33, 186, 69);
  color: white;
}

.habit-dates:hover {
  cursor: pointer;
}


h1 {
  color: grey
}

.last-row {
  margin-bottom: 50px
}
